@import "tailwindcss";

:root {
  --background: #f4fafd;
  --foreground: #161d1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta);
  
  --color-cc-primary: #FF5A43;
  --color-cc-primary-container: #ffdad4;
  --color-cc-secondary: #006492;
  --color-cc-secondary-container: #cae6ff;
  --color-cc-tertiary: #8135c5;
  --color-cc-tertiary-container: #f0dbff;
  --color-cc-surface: #f4fafd;
  --color-cc-surface-low: #eef5f7;
  --color-cc-surface-lowest: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
